*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "gilroy";
}
html,body{
  width: 100%;
  height: 100%;
}
#main{
  width: 100%;
  display: flex;
  height: 100%;
  overflow: hidden;
}
.left{
  font-size: 10px;
  width: 30%;
  height: 100vh;
  background-color: rgb(255, 196, 0);
}

.nav{
  width: 100%;
  position: relative;
  height: 7%;
  background-color: #5c5c5c7c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.right{
  width: 70%;
  height: 100vh;
  background-color:  #121212;
  overflow: auto;

}

#filenav{
  display: flex;
  height: 100%;
  width: 89%;
}
.filenav{
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right:5px ;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #000000;
  padding: 0 1%;
  overflow: auto;
}
.filenav a{
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
}
.filenav .op{
  width: 80%;
  font-family: gilroy;
  font-weight: 600;

}
.filenav a:nth-child(2){
  margin-top: 6px;
}
.company{
  width: 100%;
  height: 50px;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.left .company h1{
  font-size: 30px;
}
.left input{
  width: 100%;
  height: 50px;
  margin-top: 30px;
  padding: 0 20px;
  border: none;
  outline: none;
  
  border-radius: 10px;
}
.left .namebox{
  width: 100%;
  padding: 20px;
}
.left .namebox h1{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.left .namebox h1 a{
  margin-left: 20px;
  
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.right form{
  width: 100%;
  height: 93%;
  position: relative;
}
.right form textarea{
  font-size: 15px;
  resize: none;
  
  padding: 50px 30px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: top;
  font-weight: 400;
}
.nav .save{
  margin-right: 20px;
  width: 100px;
  height: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  background-color: rgb(100, 100, 100);
}

#submit{
  position: absolute;
  width: 110px;
  height: 40px;
  border: none;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 17px;
  border-radius: 30px;
  color: #fff;
  right: 0;
  top: -6.5%;
  background-color: rgb(18, 171, 231);
}
#btnspace{
  width: 120px;
  height: 40px;
}